h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@font-face {
    font-family: 'RobotoMonoBold';
    src: url('../fonts/RobotoMonoBold.woff2') format('woff2'),
        url('../fonts/RobotoMonoBold.woff') format('woff');
}

body {
    font-family: 'RobotoMonoBold', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: -0.1em;
}